%h1
  Url Shortner
.panel
  = form_for @address, remote: true do |f|
    - if @address.errors.any?
      #error_explanation
        %h2= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
        %ul
          - @address.errors.full_messages.each do |msg|
            %li= msg
    .row
      .large-12.columns
        .row.collapse
          .small-10.columns
            = f.url_field :url, {placeholder: 'http://'}
          .small-2.columns
            = f.submit 'shorten', {:class => 'button postfix'}
    .row.hide.shorturl
      .large-10.columns
        .alert-box.success.radius{"data-alert" => ""}
      
